<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>

</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/Home}">Welcome to the admin page</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a class="nav-link" th:href="@{/login}">Log in here</a></li>
  
        </ul>
    </div>    
</nav>

</body>
</html>