/* Header, Navigation Bar */
.navbar-nav .nav-item{
  font-family: Tahoma, Geneva, sans-serif;
}

.navbar{
  background-color: black;
}

.navbar-nav li {
  margin-right: 10px;
}

.navbar-brand,
.nav-link{
  color: white !important;
}

.navbar-nav .nav-item .nav-link:hover {
  font-weight: bold;
  background-color: #454545;
}

.bar{
  color: #fff;
}

/* About Us page */
.review1,
.review2,
.review3 {
    text-align: center;
    border-radius: 25px;
    border: 1px solid;
    padding: 10px;
}
.test,
.maps{
    padding: 50px 50px 50px 50px;
    text-align: center;
    font-size: larger;
}
   
.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    width: 80%;
    margin: 0 auto;
    padding: 50px 50px 30px 30px;
}

/* Products page */

.wrapper {
    width: 98%;
    margin: 20px auto;
    background-color: #fff;
  }
  
  .wrapper h3 {
    margin: 0;
    color:white;
    text-align: center;
  }

  .wrapper a {
    text-decoration: none;
  }
  
  .grid-image {
    display: grid;
    height: auto;
    grid-gap: 1px;
    grid-auto-rows: minmax(150px, auto);
  }

  .grid-image > * {
    padding: 10px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .keyboard {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url(../images/category-menu/keyboard.jpg);
    color: black;
    background-position: center;
  }
  
  .mouse {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url(../images/category-menu/mouse.jpg); 
    color: #fff;
    background-position: center;
  }
  
  .monitors {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)), url(../images/category-menu/monitor.jpg); 
    color: #fff;
    background-position: center;
  }
  
  .camera {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)), url(../images/category-menu/camera.jpg); 
    color: #fff;
    background-position: center;
  }
  
  .speaker {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url(../images/category-menu/speaker.jpg); 
    color: #fff;
    background-position: center;
  }
@media (min-width: 600px) {
  .grid-image {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  
  .keyboard {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  
  .mouse {
    grid-column: 1;
    grid-row: 3 / 6;
  }
  .monitors {
    grid-column: 1;
    grid-row: 6;
  }

  .camera {
    grid-column: 2;
    grid-row: 3 / 5;
  }

  .speaker {
    grid-column: 2;
    grid-row: 5 / 7;
  }
}

@media (min-width: 800px) {
  .grid-image {
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: minmax(150px, auto) minmax(150px, auto);
   grid-auto-rows: minmax(100px, auto);
 }
  .keyboard {
  grid-column: 1;
  grid-row: 1 / 4;
  }

  .mouse {
    grid-column: 1 ;
    grid-row: 4 / 8;
  }
  .monitors {
    grid-column: 2;
    grid-row: 1 / 8;
  }

  .camera {
    grid-column: 3;
    grid-row: 1 / 4;
  }

  .speaker {
    grid-column: 3;
    grid-row: 4 / 8;
  }
}

/* Products page cards */

.card-title{
  font-weight: bold;
}

.card-link{
  text-decoration: none;
}

.card-img-top{
  width: 300px; 
  height: 200px;
}

.col a{
  text-decoration: none;
}

.col a:hover{
  color: inherit;
}

.container .product-info{
  align-items: center;
  padding-left: 10px;
}

.product-card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease-in-out;
}

.product-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom{
  overflow: hidden;
}

.zoom img{
  transition: 1s;
}

.zoom:hover img{
  transform: scale(1.2);
}

/* Product view page */

.txt{
  text-transform: capitalize;
}

.img{
  width: 600px;
  height: 600px;
}

#image-zoom{
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.product-name {
	font-size: 24px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 10px;
}

.product-price {
	font-size: 20px;
	color: green;
	margin-bottom: 10px;
}

.product-description {
	margin-bottom: 20px;
}

.product-add-buttons{
  margin-top: 40px;
}

.add-to-basket {
	margin-right: 10px;
}

.add-to-basket:hover, .add-to-wishlist:hover {
	color: white;
}

.mt-auto{
  margin-bottom: 100px;
}

@media (max-width: 1000px) {
	.product-name {
		font-size: 20px;
	}

	.product-price {
		font-size: 16px;
	}

	.product-description {
		font-size: 14px;
	}

	.add-to-basket, .add-to-wishlist {
		font-size: 14px;
		padding: 5px 10px;
		margin-bottom: 10px;
	}

  #image-zoom{
    height: 350px;
    width: 350px;
    overflow: hidden;
  }
}


/* Wishlist page */

.image-container .card-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}